<div class="card-trip card-bookshelf">
  <div class="coverImg">
    <%= image_tag user_book.book.cover, class: "img-thumbnail" %>
  </div>
  <div class="card-trip-infos">
    <p><%= user_book.book.title %></p>
    <p><%= user_book.book.author %></p>
  </div>
</div>